body {
  text-align: center;
  background-color: #1e1e2e	;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #cdd6f4	;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 10px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid #11111b			;
  border-radius: 10%;
}

.game-over {
  background-color: #f38ba8;
  opacity: 0.8;
}

.red {
  background-color: #f38ba8;
}

.green {
  background-color: #a6e3a1;
}

.blue {
  background-color: #74c7ec	;
}

.yellow {
  background-color: #f9e2af	;
}

.pressed {
  box-shadow: 0 0 20px #cdd6f4	;
  background-color: #a6adc8		;
}
