body {
  text-align: center;
  background-color: #1e1e1e;
  height: 100%;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  user-select: none;
  display: block;
  width: 65%;
  margin: auto;

}

.btn {
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 15%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #F25022;
}

.green {
  background-color: #7FBA00;
}

.blue {
  background-color: #00A4EF;
}

.yellow {
  background-color: #FFB900;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
